
.Programs {
   border:solid; 
   padding:1em;
   margin: 1em;
   border:solid;
   display:none;
}
.ExpandBtn {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 2px;
    text-align: center;
}
.body {
    margin:2em;  
}
